<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>web5</title>
</head>
<body>
	<h1>[ web5 ]</h1>

	<p sec:authorize="isAuthenticated()"><span th:text="${#authentication.name}"></span>님 로그인 중</p>
	<ul>
		<th:block sec:authorize="not isAuthenticated()">
			<li><a th:href="@{/member/join}">회원가입</a></li>
			<li><a th:href="@{/member/loginForm}">로그인</a></li>
		</th:block>
		<th:block sec:authorize="isAuthenticated()">
			<li><a th:href="@{/member/logout}">로그아웃</a></li>
			<li><a th:href="@{/member/info}">개인정보 수정</a></li>
		</th:block>

			<li><a th:href="@{/board/listAll}">게시판 - 전체 목록 보기</a></li>
			<li><a th:href="@{/board/list}">게시판</a></li>
	</ul>
	
</body>
</html>
